.modal__form{
  display: flex;
  flex-direction: column;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}
.modal__close use {
  width: 18px;
  height: 18px;
}
.modal__close:hover .modal__close-icon,
.modal__close:focus .modal__close-icon {
  fill: var(--color-chromatic-usual);
}