@mixin flex-centered($align:center, $justify:center) { 
  display:flex;
  align-items: $align;
  justify-content: $justify;
}

// --------- Footer -------------- 
@mixin addrres-footer($color) {
  line-height: 1.71;
  color: $color;
  transition: color var(--timing-function);
}